body{
    background-image: url('./photos/sandbg.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
}


body header{
    font-family: cursive;
    background-color: rgb(243, 240, 234, 0.7);
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 0.5em; 
    box-sizing: border-box;
}


/* media query */

@media only screen and (min-width: 800px) {
    .contactUs{
        max-width: 80%;
    }
    .namefield input,
    .msgfield input,
    .mailfield input,
    textarea {
        width: 100%; 
        box-sizing: border-box;
        height: 30px; 
    }

    .phone {
        display: flex;
        gap: 4px;
    }

    .phone select{
        width: 130px;
        height: 30px; 
    }

    form div #phonenumber{
        height: 30px; 
        position: relative;
        width: 420px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .gallery img{
        width: 80%;
    }
}


/* Gallery of Images*/

.dest{
    position: sticky;
    top: 7em;
    margin-bottom: 8em;
    text-align: center;
    z-index: 0;
}

body .dest h1{
    position: relative;
    top:40px;
    text-align: left;
    font-size: 30px;
    margin-bottom: 40px;
}


.headtitles {
    text-align: center;
    margin: auto;
    width: 100%;
}

header img{
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 4rem;
    width: 4rem;

}



 /* Contact Us*/

 .contactUs{
    display: flex;
    position: relative;
    margin-top: 200px;
    margin-left: 25%;
    flex-direction: column;
    max-width: 400px; 

}

.contactUs div {
    margin-bottom: 15px;
}

.label_contactUs {
    display: block; 
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.namefield input,
.msgfield input,
.mailfield input,
 textarea {
    width: 100%; 
    box-sizing: border-box;
    height: 25px; 
}

.phone {
    display: flex;
    gap: 3px;
}

.phone select{
    width: 70px;
    height: 30px; 
}

form div #phonenumber{
    height: 25px; 
    position: relative;
    width: 390px;
}

textarea{
    height: 100px;
}

input[type="submit"] {
    width: auto; 
}





/* INFORMATION*/

.table{
    position: relative;
    font-size: 25px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 230px;
    
}

.tableStyle{
    position: relative;
    display: flex;
    width: 700px;
    height: 400px;
}

#info{
    position: relative;
    margin-top: 150px;
    margin-left: 30px;
}




/* ABOUT US*/

.AboutUsTitle{
    position: relative;
    margin-top: 150px;
    margin-left: 45%;
    display: inline-block;
    text-align: center;
}

.aboutUsP{
    position: relative;
    margin-top: 15px;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 25px;
}

.frame{
  position: relative;
  width: 350px;
  height: 250px;
  border: 3px solid black;
  background: #eee;
  margin: auto;
}

.frame iframe{
    height:250px;
    width: 350px;
}

.travelPhoto{
    height:250px;
    width: 350px;
}

.submit{
    text-align: right;
}



/* RATE US */

.rateUs{
    position: sticky;
    top: 9em;
    margin-bottom: 8em;
    margin-left: 10%;
    margin-right: 10%;
}

.rateUs div h3{
    text-align: center;
    font-size: 20px;
}

.rateUs label{
    margin-bottom: 10px;
    font-size: 1.1em;
}

.rateUs h2{
    font-size: 30px;
}


/* Footer*/

footer {
    margin-top: 20%;
    padding-top: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;
    border-top: rgb(225, 214, 193) solid 2px ;
}

footer .medialinks a{
    padding-top: 10px;
    padding-bottom: 5px;
    width: 20px;
    height: 20px;
    padding-right: 40px;
}

footer .medialinks a img{
    height: 40px;
    width: 40px;
}

footer .other a:hover {
    border: 2px solid pink;
    color: white;
    background-color: plum;
  }

  footer .other a{
    padding: 5px 50px;
    margin-right: 25px;
    bottom: 0;
    background: white;
    border: 2px solid wheat;
    border-radius: 10%;
    color: black;
    font-size: 1.085em;
    font-weight: bold;
   }

  footer .other{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
  }


