header{
    background-color: rgb(243, 240, 234, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0.5em; 
    box-sizing: border-box;
    display: flex;
    gap: 1em;
}

header img{
    top: 1rem;
    left: 1rem;
    height: 4rem;
    width: 4rem;
}

.headerDeals ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: last baseline;
    margin-left: auto;
    margin-right: 30px;
}


@media only screen and (min-width: 50px) and (max-width: 680px), (orientation: portait){
    .hotelName p, h2, h3, .review p{
        text-align: center;
        font-size: 1.75em;
        align-items: center;
    }

    h2, h3{
        font-size: 2em;
        justify-content: center;
    }

    .hotelDetailsAndImg{
        margin-bottom: 10px;
    }

    .hotelName p{
        margin-bottom: 70px;
    }

    .hotelName, .reviewLocation, .review, .hotelDetailsAndImg{
        justify-content: center;
    }

}


/* Details*/

.details {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid lightgrey;
    top: 0.5em;
    background-color: white;
    z-index: 1;
}

.detail,
.flight,
.payment {
    width: 30%; 
    height: 40%;
}


.detail, .flight, .payment {
    margin-bottom: 10px;
}


/* description */

/* flex-box for hotel name and dscription and image*/
.hotelDetailsAndImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* flex-box for review and location*/
.reviewLocation{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5em;
    align-content: center;
    
}


/* flex-box - container for the 2 other flex-box*/
.hotelContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2em;
    z-index: 0;
}

.hotelContainer p{
    font-size: 20px;
    height: 15em;
    width: 13em;
    padding: 5px 5px;
}

.hotelImg img{
    border: rgb(225, 214, 193) solid 2px;
    margin-top: 2.5em;
    height: 20em;
    width: 27em;
    background-size: 100% 100%;
}

.hotelName,
.review,
.location {
    flex: 0.6; 
    padding: 10px; 
    box-sizing: border-box; 
}

.location img{
    height: 14em;
    width: 20em;
}


/* Footer*/

footer {
    margin-top: 20%;
    padding-top: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;
    border-top: rgb(225, 214, 193) solid 2px ;
}

footer .medialinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

footer .medialinks a img{
    height: 40px;
    width: 40px;
}

footer .other a:hover {
    border: 2px solid pink;
    color: white;
    background-color: plum;
}

footer .other a { 
    padding: 5px 25px;
    border: 2px solid wheat;
    border-radius: 10%;
    color: black;
    background: white;
    bottom: 0;
    font-size: 1.085em;
    font-weight: bold;
}

footer .other{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


 /* Flight banner */

  .selected-flight {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5; 
    padding: 20px;
    margin-top: 20px; 
    border: 2px solid #ddd; 
}

.flight-item {
    flex: 1;
    border: 1px solid #ddd; 
    margin: 0 10px; 
    background-color: white; 
    width: 100%;
}

.flight-main {
    display: flex;
    justify-content: space-between;
}

.fc-logo {
    width: 50px; 
    height: 50px; /* Set a fixed height and width for the airline logo */
}

.fc-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio for the logo */
}