
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    text-align: center;
}

.destinationAndImage {
    display: inline-block;
    position: relative;
}

.imagestyle{
    height: 100px;
    width: 120px;
}

.gallery {
    
}